@page
@model WebAppStarter.Pages.Students.Insert
@{
    ViewData["Title"] = "Add Student";
}

<h1>Add new Student</h1>

<form method="POST" asp-page="/Students/Insert">

    <div class="mb-3">
        <label>Firstname</label>
        <input asp-for="InsertStudentDTO.Firstname" class="form-control" />
        <span asp-validation-for="InsertStudentDTO.Firstname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Lastname</label>
        <input asp-for="InsertStudentDTO.Lastname" class="form-control" />
        <span asp-validation-for="InsertStudentDTO.Lastname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="InsertStudentDTO_SelectedCityId" class="control-label">Select a City:</label>

        <!-- The magic happens here -->
        <select asp-for="InsertStudentDTO.SelectedCityId"
                asp-items="Model.Cities"
                class="form-control">
            <option value="">-- Select a City --</option> <!-- Optional placeholder -->
        </select>
        <span asp-validation-for="InsertStudentDTO.SelectedCityId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>