@page
@model WebAppStarter.Pages.Students.Success
@{
    ViewData["title"] = "Success Page";
}

<div class="container">

    <div class="mt-4 p-5 bg-success rounded text-center">
        <span class="display-3 text-white">Success!</span>
        <hr />
        <p>
            @Model.StudentName <br />
            @Model.CityId <br />
            was successfully created.
        </p>
        <p>
            
        </p>
        <a asp-page="/Students/ViewStudents" class="btn btn-lg btn-primary">Back</a>
    </div>
</div>