@page
@model WebAppStarter.Pages.Students.ViewStudents
@{
    ViewData["Title"] = "View";
}

<div>
    <h1>Students List</h1>

    <form method="get" class="mb-3">
        <div class="input-group w-50">
            <input type="text" name="lastname" class="form-control" placeholder="Enter lastname" />
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    @if (Model.StudentsReadOnlyDTOs.Any())
    {
        <table class="table table-dark text-center w-75">
            <thead>
            <tr class="table-primary">
                <th colspan="3">Coding Factory Students</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var studentReadOnlyDTO in Model.StudentsReadOnlyDTOs)
            {
                <tr>
                    <td>@studentReadOnlyDTO.Id</td>
                    <td>@studentReadOnlyDTO.Firstname</td>
                    <td>@studentReadOnlyDTO.Lastname</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No students found</p>
    }
</div>